<!DOCTYPE html>
<html>

<head>
  <title>Gestão de Cadastro</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
  <header>
    <a href="/"><img src="/images/icon.png" alt="xícara-chá"></a>
    <span>ÁREA ADMINISTRATIVA</span>
  </header>
  <main>
    <img src="/images/image2.jpg">
    <div class="buttons">
      <button onclick="submit()"><a href="/clients">CADASTRAR CLIENTE</a></button><br>
      <button><a href="/products">CADASTRAR PRODUTO</a></button>
    </div>
    <p>Tea LS</p>
  </main>
</body>

</html>