body{
  width: 960px;
  height: 750px;
  margin: auto;
  border: grey;
  border: 1px solid var(--color1);
}
header {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
}
header span{
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: 30px;
  font-family: var(--font1);
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main img {
  opacity: 0.2;
  position: absolute;
  top: 80px;
}
h1, button, a, p{
  position: relative;
  z-index: 3;
}
h1 {
  margin-top: 100px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}
.buttons a{
  text-decoration: none;
  color: var(--color4);
 }
button {
  height: 50px;
  padding: 0 10px;
  font-size: 20px;
  margin: 10px;
  background-color: var(--color3);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
p{
  font-family: var(--font1);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 300px;
}